<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar sticky-top bg-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand ms-2" style="color: white";>MyLists</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right p-2">
            <li><a href="/lists/new" class="btn btn-outline-light">New list</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div >
    <%= yield %>
    </div>
  </body>
</html>
